PORT=5000

DATABASE_URL=postgresql://postgres.egmmctduiommuciwnifi:pain@0557S@@@aws-0-ca-central-1.pooler.supabase.com:5432/postgres

JWT_SECRET=683636eb-6f2c-4d58-bf37-67706b838442

CLIENT_URL=http://localhost:5173    